{% extends "AppCrud/padre.html" %}
{% block title %}Empresas{% endblock %}
{% block bloque %}
    <div class="container">
        <h1 class="mt-5">LISTA EMPRESAS</h1>
        <div class="table-responsive mt-3">
            <table class="table table-corporativa">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Empresa</th>
                        {% if empresa_admin %}
                            <th scope="col"></th>
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for empresa in empresas %}
                        {% if user.empresa == empresa or user.is_superuser %}
                            <tr>
                                <th scope="row">{{ empresa.nombre }}</th>
                                {% if empresa_admin %}
                                    <td>
                                        <a class="btn-corporativo" href="{% url 'borrarEmpresa' empresa.id %}">Eliminar</a>
                                    </td>
                                    <td>
                                        <a class="btn-corporativo" href="{% url 'editarEmpresa' empresa.id %}">Editar</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if empresa_admin %}
            <a href="{% url 'EmpresaForm' %}" type="button" class="btn-corporativo mt-2">Agregar empresa</a>
        {% endif %}
    </div>
{% endblock %}
