{% extends "AppCrud/padre.html" %}
{% block title %}Form{% endblock %}
{% block bloque %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        {% block titulo %}{% endblock %}
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% block formulario %}{% endblock %}
                            <button type="submit" class="btn btn-primary btn-corporativo btn-block">Guardar</button>
                            <button type="button" class="btn btn-secondary btn-corporativo btn-block" onclick="window.history.back();">Volver</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}