{% extends "AppCrud/padre.html" %}
{% block title %}Inicio{% endblock %}
{% block bloque %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                {{ mensaje }}
                {% if user.is_authenticated %}
                    <div class="list-group text-center">
                        <a class="list-group-item list-group-item-action list-group-item-dark mb-3 text-center" href="{% url 'obtener_fecha' %}" type="button"> 
                            <i class="fas fa-desktop fa-fw me-2"></i> Monitoreo 
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-primary mb-3 text-center" href="{% url 'bitacora'  %}" type="button">
                            <i class="fas fa-calendar-check fa-fw me-2"></i> Bitacoras
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-success mb-3 text-center" href="{% url 'job'  %}" type="button">
                            <i class="fas fa-briefcase fa-fw me-2"></i> Jobs
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-info mb-3 text-center" href="{% url 'contacto'  %}" type="button" >
                            <i class="fas fa-address-book fa-fw me-2"></i> Contactos
                        </a>
                        <a class="list-group-item list-group-item-action list-group-item-warning mb-3 text-center" href="{% url 'aviso'  %}" type="button" >
                            <i class="fas fa-exclamation-circle fa-fw me-2"></i> Avisos
                        </a>
                    </div>
                {% else %}
                    <h4 class="text-center mt-5">Por favor, <a href="{% url 'Login'  %}">Ingresar</a> para acceder...</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Add the following Font Awesome CDN link to your HTML file -->
    <script src="https://kit.fontawesome.com/e5f110c7fd.js" crossorigin="anonymous"></script>
{% endblock %}
