{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin/css/estilos-corporativos.css' %}">
    <title>{% block title %}
        {% endblock %}</title>
    

        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!-- Bootstrap JS -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
        
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            {% if user.is_authenticated %}
                <!-- Botón menú hamburguesa solo visible en <=990px -->
                <button class="btn btn-primary d-lg-none" id="menuDropdownBtn" type="button" aria-label="Abrir menú">
                    <span class="navbar-toggler-icon">Menu</span>
                </button>
                <!-- Menú hamburguesa mejorado -->
                <div class="dropdown-menu-custom" id="dropdownMenuCustom"><ul class="mobile-menu-list">
                        <li>
                        {% if user.is_superuser %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'obtener_fecha_monitor_admin' %}?vista=semana">Monitoreo</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'obtener_fecha' %}">Monitoreo</a>
                                </li>
                            {% endif %}
                        </li>
                        <li class="has-submenu">
                            <a href="#">Gestión <span class="submenu-arrow">&#9656;</span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'bitacora' %}">Bitácoras</a></li>
                                <li><a href="{% url 'job' %}">Jobs</a></li>
                                <li><a href="{% url 'transacciones' %}">Transacciones</a></li>
                                {% if not user.is_superuser %}
                                    <li><a href="{% url 'servidores' %}">Servidores</a></li>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'empresa' %}">Empresas</a></li>
                                {% elif user.is_staff %}
                                    <li><a class="dropdown-item" href="{% url 'empresa_otros' %}">Empresas</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Avisos y Contactos <span class="submenu-arrow">&#9656;</span></a>
                            <ul class="submenu">
                                <li><a href="{% url 'aviso' %}">Avisos</a></li>
                                <li><a href="{% url 'contacto' %}">Contactos</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu">
                            <a href="#">Usuarios <span class="submenu-arrow">&#9656;</span></a>
                            <ul class="submenu">
                                {% if user.is_superuser or user.is_staff %}
                                    <li><a href="{% url 'RegisterOption' %}">Registrar Usuario</a></li>
                                    <li><a href="{% url 'EditarPerfil' %}">Editar Perfil ({{ user.username }})</a></li>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'usuarios' %}">Lista Usuarios</a></li>
                                    <li><a href="{% url 'administradores' %}">Lista Administradores</a></li>
                                {% endif %}
                                {% if not user.is_superuser %}
                                    <li><a href="{% url 'lista_usuarios_empresa' user.empresa.id %}">Lista Usuarios</a></li>
                                    <li><a href="{% url 'lista_administradores_empresa' user.empresa.id %}">Lista Administradores</a></li>
                                {% endif %}
                            </ul>
                        </li>
                        {% if request.session.admin %}
                        <li>
                            <form method="POST" action="{% url 'cambiar_usuario' %}" class="form-inline my-0 d-flex align-items-center">
                                {% csrf_token %}
                                <select name="user_id" class="form-control mr-2" style="max-width: 100%; min-width: 220px; font-size: 1.1em; height: 60px;">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-sm btn-primary ml-2">Cambiar</button>
                            </form>
                        </li>
                        {% endif %}
                        <a class="nav-link has-submenu" href="{% url 'Logout' %}">Cerrar Sesión</a>
                    </ul>
                </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if user.empresa.visual_empresa.logo %}
                    <img src="{{ user.empresa.visual_empresa.logo.url }}" alt="Logo">
                {% endif %}
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <!-- Gestión Dropdown -->
                        {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'obtener_fecha_monitor_admin' %}?vista=semana">Monitoreo</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                    <a class="nav-link" href="{% url 'obtener_fecha' %}">Monitoreo</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="gestionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Gestión
                            </a>
                            <div class="dropdown-menu" aria-labelledby="gestionDropdown">
                                <a class="dropdown-item" href="{% url 'bitacora' %}">Bitácoras</a>
                                <a class="dropdown-item" href="{% url 'job' %}">Jobs</a>
                                <a class="dropdown-item" href="{% url 'transacciones' %}">Transacciones</a>
                                {% if not user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'servidores' %}">Servidores</a>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'empresa' %}">Empresas</a>
                                {% elif user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'empresa_otros' %}">Empresas</a>
                                {% endif %}
                            </div>
                        </li>
                        <!-- Avisos y Contactos Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="avisosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Avisos y Contactos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="avisosDropdown">
                                <a class="dropdown-item" href="{% url 'aviso' %}">Avisos</a>
                                <a class="dropdown-item" href="{% url 'contacto' %}">Contactos</a>
                            </div>
                        </li>
                        <!-- Usuarios Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Usuarios
                            </a>
                            <div class="dropdown-menu" aria-labelledby="usuariosDropdown">
                                {% if user.is_superuser or user.is_staff %}
                                    <a class="dropdown-item" href="{% url 'RegisterOption' %}">Registrar Usuario</a>
                                    <a class="dropdown-item" href="{% url 'EditarPerfil' %}">Editar Perfil ({{ user.username }})</a>
                                {% endif %}
                                {% if user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'usuarios' %}">Lista Usuarios</a>
                                    <a class="dropdown-item" href="{% url 'administradores' %}">Lista Administradores</a>
                                {% endif %}
                                {% if not user.is_superuser %}
                                    <a class="dropdown-item" href="{% url 'lista_usuarios_empresa' user.empresa.id %}">Lista Usuarios</a>
                                    <a class="dropdown-item" href="{% url 'lista_administradores_empresa' user.empresa.id %}">Lista Administradores</a>
                                {% endif %}
                            </div>
                        </li>
                        {% if request.session.admin %}
                        <li class="nav-item d-flex align-items-center">
                            <form method="POST" action="{% url 'cambiar_usuario' %}" class="form-inline my-0 d-flex align-items-center">
                                {% csrf_token %}
                                <select name="user_id" class="form-control mr-2" style="max-width: 150px;">
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-sm btn-primary ml-2">Cambiar</button>
                            </form>
                        </li>
                        {% endif %}
                        <!-- Sesión -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Logout' %}">Cerrar Sesión</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Login' %}">Ingresar</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        {% block bloque %}
        {% endblock %}
    </div>
    <footer>
        <div class="container text-center mt-5">
           
        </div>
    </footer>
</body>
    <style>
        /* Variables CSS para usar en el archivo externo */
        :root {
            --color-primario-empresa: {{ user.empresa.visual_empresa.colorPrimario }};
            --color-secundario-empresa: {{ user.empresa.visual_empresa.colorSecundario }};
        }
        
        /* Estilo para la barra de navegación */
        body{
            background-color: {{ user.empresa.visual_empresa.colorSecundario }};
        }
        nav.navbar {
        background-color: {{ user.empresa.visual_empresa.colorPrimario }};
        }

        /* Estilo para el enlace activo */
        nav.navbar .navbar-nav .nav-item.active .nav-link {
        background-color: {{ user.empresa.visual_empresa.colorPrimario }};
        color: white;
        }

        /* Estilo para el logo de la empresa */
        img {
        border-radius: 50%;
        width: 55px;
        height: 55px;
        }

        /* Estilo para los enlaces de navegación */
        nav.navbar .navbar-nav .nav-item .nav-link {
        color: {{ user.empresa.visual_empresa.colorSecundario }};
        }

        /* Estilo para los enlaces de navegación al pasar el mouse */
        nav.navbar .navbar-nav .nav-item .nav-link:hover {
        color: white;
        }

        /* Estilo para el título */
        h1 {
        color: {{ user.empresa.visual_empresa.colorPrimario }};
        }

        /* Estilo para los botones */
        .btn-primary {
            background-color: {{ user.empresa.visual_empresa.colorSecundario }};
            color: {{ user.empresa.visual_empresa.colorPrimario }};
            border-color: {{ user.empresa.visual_empresa.colorPrimario }};
        }

        /* Estilo para los botones al pasar el mouse */
        .btn-primary:hover {
            background-color: #3b3b3b;
            color: white;
            border-color: #3b3b3b;
        }

        /* Estilo para los botones activos */
        .btn-primary:active {
        background-color: #1a1a1a;
        border-color: #1a1a1a;
        }

        /* Estilo para los enlaces */
        nav a {
        color: {{ user.empresa.visual_empresa.colorSecundario }};
        }

        /* Estilo para los enlaces al pasar el mouse */
        nav a:hover {
        color: #3b3b3b;
        }

        /* Estilo para los enlaces activos */
        nav a:active {
        color: #1a1a1a;
        }

    </style>
</html>

{% if request.method == 'GET' and request.resolver_match.view_name == 'avisar' %}
<script>
  $(document).ready(function() {
    $('#miModal').modal('show');
  });
</script>
{% endif %}

<script>
document.addEventListener('DOMContentLoaded', function() {
    var btn = document.getElementById('menuDropdownBtn');
    var menu = document.getElementById('dropdownMenuCustom');
    if (btn && menu) {
        btn.addEventListener('click', function(e) {
            e.stopPropagation();
            menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
        });
        // Cierra el menú al hacer click fuera
        document.addEventListener('click', function(e) {
            if (!btn.contains(e.target) && !menu.contains(e.target)) {
                menu.style.display = 'none';
                // Cierra todos los submenús
                document.querySelectorAll('.has-submenu').forEach(function(item){
                    item.classList.remove('open');
                });
            }
        });
        // Submenús
        menu.querySelectorAll('.has-submenu > a').forEach(function(link){
            link.addEventListener('click', function(e){
                e.preventDefault();
                var parent = this.parentElement;
                parent.classList.toggle('open');
                // Cierra otros submenús
                menu.querySelectorAll('.has-submenu').forEach(function(item){
                    if(item !== parent) item.classList.remove('open');
                });
            });
        });
        // Cierra el menú al seleccionar una opción
        menu.querySelectorAll('.dropdown-item, .mobile-menu-list > li > a:not(.has-submenu > a)').forEach(function(item) {
            item.addEventListener('click', function() {
                menu.style.display = 'none';
                document.querySelectorAll('.has-submenu').forEach(function(item){
                    item.classList.remove('open');
                });
            });
        });
    }
});
</script>