{% extends "AppCrud/padre.html" %}

{% block title %}Lista de Transacciones{% endblock %}

{% block bloque %}
<div class="container mt-5">
    <h1 class="text-center">Lista de Transacciones</h1>
    
    <!-- Botón para dar de alta un registro -->
    <div class="text-end mb-3">
        <a href="{% url 'RegistroForm' %}" class="btn btn-primary">Dar de Alta Transaccion</a>
    </div>
    
    <table class="table table-bordered table-striped mt-3">
        <thead class="bg-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros %}
            <tr>
                <td>{{ registro.nombre }}</td>
                <td>{{ registro.descripcion }}</td>
                <td>
                    <form action="{% url 'borrar_registro' registro.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('¿Seguro que quieres eliminar este registro?');">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}