{% extends "AppCrud/padre.html" %}
{% block title %}Registro{% endblock %}
{% block bloque %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                {% if user.is_superuser %}
                <div class="text-center">
                    <h4 class="mb-4">Registrar Usuario</h4>
                    <a href="{% url 'Register'  %}" class="btn btn-primary"><i class="fas fa-user-plus mr-2"></i>Registrar</a>
                </div>
                <div class="text-center mt-4">
                    <h4 class="mb-4">Registrar Administrador de Empresa</h4>
                    <a href="{% url 'RegisterAdmin'  %}" class="btn btn-primary"><i class="fas fa-user-cog mr-2"></i>Registrar</a>
                </div>
                {% else %}
                <div class="text-center">
                    <h4 class="mb-4">Registrar Usuario</h4>
                    <a href="{% url 'Register_user_vista_admin' user.empresa.id  %}" class="btn btn-primary"><i class="fas fa-user-plus mr-2"></i>Registrar</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/e5f110c7fd.js" crossorigin="anonymous"></script>

{% endblock %}
